body{
	font-family: sans-serif;
}
#books-screen .header-row{
	font-weight: bold;
}

#book-details-screen .book-details-container{
	margin-left: 15px;
	padding: 5px 5px 5px 5px;
	border: 1px Solid #000;
}

#book-details-screen .book-details-container .book-cover{
	width: 200px;
	height: 250px;
}

/* ---- Home ----- */
.ju-home-screen .header-row{
	background-color: #f0f0f0;
}

/* -------------- board view -----------*/

#board-screen{
	width: 100%;
	height: 100%;
} 

#board-screen div.row{
	margin-right: 0px;
    margin-left: 0px;
}

#board-screen div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px Solid #fbfbfb;
	min-height: 90px;
}

#board-screen .header-row{
	padding: 10px 10px 10px 10px;
	background-color: #00008b;
}

#board-screen .header-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px Solid #fbfbfb;
	background-color: #00008b;
	min-height: auto;
	height: auto;
}

#board-screen .header-row{
	color: #ffe203;
}

#board-screen .header-row .trumpCardContainer{
	display: inline;
	margin-left: 10px;
}

#board-screen .header-row .trumpCardContainer .totalTricksValue{
	font-size: 1.3em;
	color: #ffe203;
	font-weight: bold;
}

#board-screen .header-row div[class^=col-] span.roomNameLabel{
	color: #ffe203;
}

#board-screen .header-row div[class^=col-] span.roomName{
	font-size: 1.3em;
	color: #ffe203;
	font-weight: bold;
}

#board-screen .header-row div.divRoomDetails{
	text-align: left;
}

#board-screen .header-row div.divGameName{
	text-align: center;
	color: #ffe203;
	font-size: 2.3em;
	font-weight: bold;
}

#board-screen .bidContainer{
	border-radius: 2px; 
	box-shadow: 3px 3px 3px #dcdcdc; 
	width: 100%;
	background-color: #99d9ea;
	
}

#board-screen .bidContainer .bidHeader{
	padding: 5px 10px 5px 10px;
	background-color: #00008b; 
	color: #fff;
	font-weight: bold;
}
 
#board-screen .bidContainer .bids{
	margin: 3px 3px 0px 3px;
	background-color: #337ab7; 
}

#board-screen .bidContainer .bids.bid-not-valid{
	background-color: #ccc; 
	color: #8e8e8e;
}

#board-screen .bidContainer .bids.bid-selected{
	background-color: #ffe203; 
	border: 1px Solid #fff;
	color: #000;
}


#board-screen .bidContainer .bidButtonContainer{
	padding: 5px 5px 5px 5px;
	text-align: right;
	
}

#board-screen .bidContainer .bidButtonContainer .bidButton{
	 background-color: #ffe203;
}

#board-screen .header-row div.divControlButtons{
	text-align: right;
}
#board-screen .logged-in-player-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 100%;
}

#board-screen div.player-card{
	background-color: rgba(236, 248, 251, 1);
	height: 100%;
	border: 1px Solid #8e8e8e;
	border-radius: 2px;
	box-shadow: 3px 3px 3px #c0c0c0;
}

#board-screen div.player-card.current-turn{
	box-shadow: 4px 4px 4px #ffa604;
}

/*#board-screen div.player-card.current-turn{
	border: 5px Solid #ffa604;
}*/

#board-screen div.player-card .player-details{
	background-color: rgba(153, 217, 234, 1);
	border-bottom: 1px Solid #8e8e8e;
}

#board-screen div.player-card .player-details .player-pic{
	min-width: 30%;
    width: 40%;
    max-width: 40%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-pic{
	min-width: 10%;
    width: 20%;
    max-width: 30%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card .player-details  .player-score-container{
    text-align: right;
    background-color: #28903e;
}

#board-screen div.player-card .player-details  .player-score-container .total-score-label{
    font-size: 0.8em;
    color: #fff;
}

#board-screen div.player-card .player-details  .player-score-container .total-score{
    padding-right: 5px;
    /* padding-left: 5px; */
    /* background-color: rgb(222, 0, 0); */
    font-weight: bold;
    color: #fff; 
    /* vertical-align: top; */
    font-size: 0.9em;
}

#board-screen div.player-card .player-details  .player-cards-container{
    padding-top: 10px;
}

#board-screen div.player-card.loggedin-player-card .player-details  .player-cards-container{
    padding-top: 0px;
}

#board-screen div.player-card .player-details .player-cards-container .player-cards{
   	height: 35px;
   	text-align: right;
   	border: 0px Solid #8e8e8e;
   	overflow: hidden;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-cards-container .player-cards{
	text-align: center;
	height: 45px;
}

#board-screen .playing-card{
   	width: 20px;
   	height: 35px;
   	border: 1px Solid #8e8e8e;
   	display: inline-block;
   	margin-left: -18px;
   	margin-top: 5px;
   	background-color: rgba(239,228,176,1);
   	border-radius: 2px;
}

#board-screen div.player-card.loggedin-player-card .playing-card,
#board-screen div.trumpCardContainer .playing-card{
	width: 40px;
   	height: 45px;
   	margin-left: 0px;
   	margin-top: 0px;
}


#board-screen .header-row div.trumpCardContainer .playing-card{
	display: inline-block;
	text-align: center;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-cards-container .player-cards .playing-card span.rankName{
	position: relative;
	left: -5px;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-cards-container .player-cards .playing-card span.suitSymbolSmall{
	position: relative;
   	left: -8px;
}

#board-screen span.suitSymbolBig{
	font-size: 35px;
    position: relative;
    top: -15px;
}

#board-screen div.trumpCardContainer span.suitSymbolBig{
    top: -5px;
}

#board-screen .playing-card.Heart,
#board-screen .playing-card.Diamond{
	color: #ff0000;
}

#board-screen .playing-card.Spade,
#board-screen .playing-card.Club{
	color: #000000;
}

#board-screen div.loggedin-player-card.player-card .player-details .player-cards-container .player-cards .playing-card{
	margin-left: 0px;
	position: relative;
	top: 10px;
}

#board-screen div.loggedin-player-card.player-card .player-details .player-cards-container .player-cards .playing-card.card-selected{
	top: 0px;
	background-color: #dff0d8;
}

#board-screen div.player-card .player-card-footer {
	text-align: center;
	font-weight: bold;
	
}

#board-screen div.player-card .player-card-footer .apply-margin-10{
	margin-left: 10px;
}


/* -------------- end -----------*/

#board-screen .trump-suit-container{
	font-size: 12px;
}

#board-screen .card{
	border-radius: 4px;
	margin-right:1px;
	display: inline-block;
	width: 40px;
	height:50px; 
	border: 1px Solid #000
}


#board-screen .card.Heart, #board-screen .card.Diamond {
	color: #ff0000;
	position: relative;
}

#board-screen .card .rank-name{
	font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 3px;
}

#board-screen .card .suit-symbol{
	font-size: 27px;
    position: relative;
    top: -10px;
    left: 10px;
}

#board-screen .card .suit-symbol.trump-suit{
	font-size: 40px;
    position: relative;
    left: 7px;
}

/* -------------- card vertical view -----------*/
/*
@media screen and (max-width: 500px) {

#board-screen div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 180px;
}

#board-screen div[class^=col-] .player-card{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 180px;
}

#board-screen .logged-in-player-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 100%;
}

#board-screen div.player-card{
	background-color: rgba(236, 248, 251, 1);
	height: 100%;
	border: 1px Solid #8e8e8e;
	border-radius: 2px;
}

#board-screen div.player-card.current-turn{
	border: 5px Solid #ffa604;
}

#board-screen div.player-card .player-details{
	background-color: rgba(153, 217, 234, 1);
	border-bottom: 1px Solid #8e8e8e;
}

#board-screen div.player-card .player-details .player-pic{
	min-width: 30%;
    width: 40%;
    max-width: 40%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-pic{
	min-width: 10%;
    width: 20%;
    max-width: 30%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card .player-details  .player-score-container{
    
}

#board-screen div.player-card .player-details  .player-score-container .total-score-label{
    font-size: 0.8em;
}

#board-screen div.player-card .player-details  .player-score-container .total-score{
    padding-right: 5px;
    font-weight: bold;
    color: rgb(222, 0, 0);
    font-size: 0.9em;
}

#board-screen div.player-card .player-card-footer {
	text-align: center;
	font-weight: bold;
	
}

#board-screen div.player-card .player-card-footer .apply-margin-10{
	margin-left: 10px;
}

#board-screen div.player-card .player-card-footer  .player-cards-container{
    padding-top: 10px;
}

#board-screen div.player-card .player-card-footer .player-cards-container .player-cards{
   	height: 35px;
   	text-align: right;
   	border: 0px Solid #8e8e8e;
   	overflow: hidden;
}

#board-screen div.player-card .player-card-footer .player-cards-container .player-cards .playing-card{
   	width: 20px;
   	height: 35px;
   	border: 1px Solid #8e8e8e;
   	display: inline-block;
   	margin-left: -18px;
   	margin-top: 5px;
   	background-color: rgba(239,228,176,1);
   	border-radius: 2px;
}

#board-screen div.loggedin-player-card.player-card .player-card-footer .player-cards-container .player-cards .playing-card{
	margin-left: 0px;
}

	
}
*/

/* -------------- card vertical end -----------*/

