body{
	font-family: sans-serif;
}

.no-select{
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none;   /* Chrome/Safari/Opera */
	  -khtml-user-select: none;    /* Konqueror */
	  -moz-user-select: none;      /* Firefox */
	  -ms-user-select: none;       /* Internet Explorer/Edge */
	  user-select: none;           /* Non-prefixed version, currently
	                                  not supported by any browser */
}
#books-screen .header-row{
	font-weight: bold;
}

#book-details-screen .book-details-container{
	margin-left: 15px;
	padding: 5px 5px 5px 5px;
	border: 1px Solid #000;
}

#book-details-screen .book-details-container .book-cover{
	width: 200px;
	height: 250px;
}

/* ---- Home ----- */

.ju-room-screen {
	padding: 0px 5px;
}

#ju-room-screen .body-row .row {
	margin: 5px 0px;
}

/* -------------- board view -----------*/

#board-screen{
	width: 100%;
	height: 100%;
} 

#board-screen div.row{
	margin-right: 0px;
    margin-left: 0px;
}

#board-screen div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px Solid #fbfbfb;
	height: 90px;
}

@media screen and (orientation: landscape) {
	#board-screen .flexible-row div[class^=col-xs]{
		height: 42px !important;
	}
	
	#board-screen .flexible-row div[class^=col-xs].current-trick-card-container .playing-card{
		margin-top: 0px;
	}
}

#board-screen{
	background-image: url('/static/images/5629396-hd-background-design-images.jpg')
}
.header-row{
	padding: 10px 10px 10px 10px;
	background-color: #00008b;
}

#board-screen .header-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px Solid #fbfbfb;
	background-color: #00008b;
	min-height: auto;
	height: auto;
}

.header-row{
	color: #ffe203;
}

#board-screen .header-row .trumpCardContainer{
	display: inline;
	margin-left: 10px;
}

#board-screen .header-row .trumpCardContainer .totalTricksValue{
	font-size: 1.3em;
	color: #ffe203;
	font-weight: bold;
}

#board-screen .header-row div[class^=col-] span.roomNameLabel{
	color: #ffe203;
}

#board-screen .header-row div[class^=col-] span.roomName{
	font-size: 1.3em;
	color: #ffe203;
	font-weight: bold;
}

#board-screen .header-row div.divRoomDetails{
	text-align: left;
}

#board-screen .header-row div.divGameName{
	text-align: center;
	color: #ffe203;
	font-size: 2.3em;
	font-weight: bold;
}

#board-screen .bidContainer{
	border-radius: 2px; 
	box-shadow: 3px 3px 3px #dcdcdc; 
	width: 100%;
	background-color: #99d9ea;
	
}

#board-screen .col-xs-4 .bidContainer {
	position: absolute;
	top: 92px;
	margin: auto;
}

.dialogOverlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.bidContainerOverlay{
}
 
.dialogOverlay .dialogContainer{
	border-radius: 5px;
	position: relative;
	top: 130px;
	width: 50%;
	margin: auto;
	padding: 2px;
	box-shadow: 0px 0px 40px #d03d5f;
	max-width: 380px;
	background-color: #50b7e8;
}

.dialogOverlay .dialogContainer .dialogHeader,
.dialogOverlay .dialogContainer .dialogFooter{
	border-radius: 2px;
	padding: 4px;
}

.bidContainerOverlay .bidContainer {
	background-color: #b7d7ea;
}

.bidContainerOverlay .bidContainer .bidHeader{
	background-color: #00008b; 
	color: #fff;
	font-weight: bold;
}

.dialogOverlay .dialogContainer .dialogFooter{
	margin: 5px;
}

.bidContainerOverlay .bidContainer .drag-icon{
	color: #adacac;
}

.bidContainerOverlay .bidContainer.enable-drag .drag-icon{
	color: #ffe203;
}


.bidContainerOverlay .bidContainer .bids{
	margin: 3px 3px 0px 3px;
	background-color: #337ab7; 
	cursor: pointer;
}

.bidContainerOverlay .bidContainer .bids.bid-not-valid{
	background-color: #ccc; 
	color: #8e8e8e;
}

.bidContainerOverlay .bidContainer .bids.bid-selected{
	background-color: #ffe203; 
	border: 1px Solid #fff;
	color: #000;
}


.bidContainerOverlay .bidContainer .bidButtonContainer{
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.bidContainerOverlay .bidContainer .bidButtonContainer .suitSymbolBig{
    font-size: 18px;
}
   
.bidContainerOverlay .bidContainer .suitSymbolBig.Diamond,
.bidContainerOverlay .bidContainer .suitSymbolBig.Heart{
    color: #ff0000;
} 

.bidContainerOverlay .bidContainer .bidButtonContainer .bidButton{
	 background-color: #ffe203;
	 padding: 2px 7px;
}

#board-screen .header-row div.divControlButtons{
	text-align: right;
}
#board-screen .logged-in-player-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 0px Solid #fbfbfb;
	height: 100%;
}

#board-screen div.player-card{
	background-color: rgba(236, 248, 251, 1);
	/*height: 100%;*/
	border: 1px Solid #8e1919;
	border-radius: 2px;
	box-shadow: 3px 3px 3px #330101;
}

#board-screen div.player-card.current-turn{
   border: 3px Solid #ffa604;
   -moz-animation: blink-border 0.2s linear alternate infinite;
    -webkit-animation: blink-border 0.2s linear alternate infinite; /* Chrome, Safari, Opera */
    -ms-animation: blink-border 0.2s linear alternate infinite;
    animation: blink-border 0.2s linear alternate infinite;
   
}

#board-screen div.player-card .player-details{
	background-color: rgba(153, 217, 234, 1);
	border-bottom: 1px Solid #8e8e8e;
}

#board-screen div.player-card .player-details .player-pic{
	min-width: 30%;
    width: 40%;
    max-width: 40%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-pic{
	min-width: 10%;
    width: 20%;
    max-width: 30%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card .player-details  .player-score-container{
    text-align: right;
    background-color: #28903e;
}

#board-screen div.player-card .player-details  .player-score-container .total-score-label{
    font-size: 0.8em;
    color: #fff;
}

#board-screen div.player-card .player-details  .player-score-container .total-score{
    padding-right: 5px;
    /* padding-left: 5px; */
    /* background-color: rgb(222, 0, 0); */
    font-weight: bold;
    color: #fff; 
    /* vertical-align: top; */
    font-size: 0.9em;
}

#board-screen .board-message-container .board-message{
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #d6d5d5;
	font-size: 1.7em;
}

/** small text --*/

#board-screen .col-xs-3 .board-message-container .board-message{
	font-size: 1.2em;
}

#board-screen div.player-card .player-details .player-cards-container{
    padding-top: 10px;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-cards-container{
    padding-top: 0px;
}

#board-screen div.player-card .player-details .player-cards-container .player-cards{
   	height: 35px;
   	text-align: right;
   	border: 0px Solid #8e8e8e;
   	overflow: hidden;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-cards-container .player-cards{
	text-align: right;
	height: 45px;
	width: 200%;
	left: -100%;
	position: relative;
}

#board-screen div.player-card.loggedin-player-card .playing-card{
	width: 36px; 
	height: 45px; 
}

#board-screen div.player-card.loggedin-player-card .playing-card.is-trump-card{
	background-color: #3bffbd; 
}

#board-screen .current-trick-card-container{
	text-align: center;
}

#board-screen .current-trick-card-container.col-xs-2.left-align{
	text-align: left;
}

#board-screen .current-trick-card-container.col-xs-2.right-align{
	text-align: right;
}

/* -------- Playing card base --------------- */

#board-screen .playing-card{
	position: relative; 
	width: 40px; 
	height: 45px; 
	cursor: pointer;
   	border: 1px Solid #8e8e8e;
   	display: inline-block;
   	background-color: rgba(239,228,176,1);
   	border-radius: 2px;
   	margin-right: 5px;
}

#board-screen .playing-card span.rankName{
	position: absolute;
	font-size: 13px;
}

#board-screen .playing-card span.suitSymbolSmall{
	position: absolute;
}

#board-screen .playing-card span.suitSymbolBig{
	top: 4px;
	left: 11px; 
	position: absolute;
	font-size: 32px;
}

.playing-card.Heart,
.playing-card.Diamond{
	color: rgba(255,0,0,1);
}

#board-screen .playing-card.Spade,
#board-screen .playing-card.Club{
	color: #000000;
}

/*---------------- ----*/

#board-screen .current-trick-card-container.col-xs-1 .playing-card,
#board-screen .current-trick-card-container.col-xs-2 .playing-card,
#board-screen .current-trick-card-container.col-xs-3 .playing-card,
#board-screen .current-trick-card-container.col-xs-4 .playing-card,
#board-screen .current-trick-card-container.col-xs-10 .playing-card{
	width: 30px; 
	height: 40px; 
}

#board-screen .current-trick-card-container.col-xs-1 .playing-card span.suitSymbolBig,
#board-screen .current-trick-card-container.col-xs-2 .playing-card span.suitSymbolBig,
#board-screen .current-trick-card-container.col-xs-3 .playing-card span.suitSymbolBig,
#board-screen .current-trick-card-container.col-xs-4 .playing-card span.suitSymbolBig,
#board-screen .current-trick-card-container.col-xs-10 .playing-card span.suitSymbolBig{
	top: 16px;
	left: 12px; 
	font-size: 18px;
}

/* -------- Current Trick Playing card  --------------- */

#board-screen .current-trick-card-container .playing-card{
	width: 45px; 
	height: 55px; 
	margin-top: 20px;
}

#board-screen .current-trick-card-container .playing-card.is-trump-card{
	background-color: #3bffbd; 
}

#board-screen .current-trick-card-container .playing-card span.rankName{
	top: 2px; 
	left: 2px; 
	position: absolute
}

#board-screen .current-trick-card-container .playing-card span.suitSymbolSmall{
	top: 11px;
	left: 4px; 
	position: absolute;
}

#board-screen .current-trick-card-container .playing-card span.suitSymbolBig{
	top: 10px;
	left: 12px; 
	position: absolute;
}

/* -------- Header Trump Playing card  base --------------- */
#board-screen .header-row div.trumpCardContainer .playing-card{
	display: inline-block;
	position: static;
	text-align: center;
}

#board-screen .header-row div.trumpCardContainer .playing-card .suitSymbolBig{
	position: static;
}

/* -------- Logged in player Playing card  base --------------- */

#board-screen div.player-card.loggedin-player-card .playing-card{
	margin-right: 0px;
	top: 5px;
}

#board-screen div.player-card.loggedin-player-card .playing-card.card-selected{
	top: 0px;
	background-color: #dff0d8;
}

#board-screen div.player-card.loggedin-player-card .playing-card span.rankName{
    left: 2px;
    top: 0px;
}

#board-screen div.player-card.loggedin-player-card .playing-card span.suitSymbolSmall{
	top: 9px;
    left: 2px;
}

#board-screen div.player-card.loggedin-player-card .playing-card span.suitSymbolBig{
	font-size: 32px;
    position: absolute;
    top: 5px;
    left: 11px;
}

#board-screen div.player-card.loggedin-player-card .playing-card.Heart.card-is-not-valid,
#board-screen div.player-card.loggedin-player-card .playing-card.Diamond.card-is-not-valid{
    color: #ff7f50;
}

#board-screen div.player-card.loggedin-player-card .playing-card.Club.card-is-not-valid,
#board-screen div.player-card.loggedin-player-card .playing-card.Spade.card-is-not-valid{
    color: #808080;
}


/* -------- Trump overlay Playing card  base --------------- */ 

#board-screen div.trumpCardContainer.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
}

#board-screen div.trumpCardContainer.overlay .playing-card{
	background-color: rgba(255,255,255, 0);
	text-align: center;
	width: 100%;
	height: 100%;
	border: 0px;
	margin-top: 0px;
}

#board-screen div.trumpCardContainer.overlay .playing-card span.suitSymbolBig{
	position: relative; 
	text-shadow: 0px 0px 30px #ffe203;
	font-size: 6em;
	top: -20px; 
}

#board-screen div.trumpCardContainer.overlay .playing-card.Heart,
#board-screen div.trumpCardContainer.overlay .playing-card.Diamond {
	color: rgba(255,0,0,1);
}

#board-screen div.trumpCardContainer.overlay .playing-card.Spade,
#board-screen div.trumpCardContainer.overlay .playing-card.Club {
	color: rgba(0,0,0,1);
}

/*----- Points table ----------- */

#board-screen .points-table-container{
	position: fixed; 
	width: 100%; 
	top: 0;
}

#board-screen .points-table-container .points-table{
	width: 75%; 
	position: relative; 
	margin-left: auto; 
	margin-right: auto; 
}

#board-screen .points-table-container .points-table .row{
	padding: 5px 0px 0px 0px;
	background-color: #faf9e6;
	border-bottom: 1px Solid #dcdcdc;
	color: #00008b;
}

#board-screen .points-table-container .points-table .row.header-row,
#board-screen .points-table-container .points-table .row.header-row div[class^=col-]{
	background-color: #ff9900;
}

#board-screen .points-table-container .points-table .row.total-row{ 
	font-weight: bold;
	border-bottom: 0px Solid #dcdcdc;
	color: #00008b;
}

#board-screen .points-table-container .points-table .row div[class^=col-]{
	height: auto;
	padding: 5px;
}

#board-screen div.player-card .player-card-footer {
	background-color: #f0f7b6;
	text-align: center;
	font-weight: bold;
}

@keyframes blink {
    from {
           background-color: #ff0000;
    }
    to {
           background-color: #ffd600;
    }
}
@-webkit-keyframes blink {
    from {
           background-color: #ff0000;
    }
    to {
           background-color: #ffd600;
    }
}
@-ms-keyframes blink {
    from {
           background-color: #ff0000;
    }
    to {
           background-color: #ffd600;
    }
}
@-moz-keyframes blink {
    from {
           background-color: #ff0000;
    }
    to {
           background-color: #ffd600;
    }
}

@keyframes blink-border {
    from {
           border: 3px Solid #8e1919;
    }
    to {
           border: 3px Solid #ffd600;
    }
}
@-webkit-keyframes blink-border {
    from {
           border: 3px Solid #8e1919;
    }
    to {
           border: 3px Solid #ffd600;
    }
}
@-ms-keyframes blink-border {
    from {
           border: 3px Solid #8e1919;
    }
    to {
           border: 3px Solid #ffd600;
    }
}
@-moz-keyframes blink-border {
    from {
           border: 3px Solid #8e1919;
    }
    to {
           border: 3px Solid #ffd600;
    }
}

#board-screen .winner div.player-card{
	border: 1px Solid #ffd600;
}

#board-screen .winner div.player-card .player-card-footer {
	background-color: #ffd600;
	-moz-animation:blink 0.3s linear alternate 5;
    -webkit-animation: blink 0.3s linear alternate 5; /* Chrome, Safari, Opera */
    -ms-animation: blink 0.3s linear alternate 5;
    animation: blink 0.3s linear alternate 5;
}

#board-screen div.player-card .player-card-footer .apply-margin-10{
	margin-left: 10px;
}

#board-screen .block-play{
	background-color: rgba(255,255,255,0); 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	left: 0px; 
	top: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
}



/* -------------- end -----------*/

#board-screen .trump-suit-container{
	font-size: 12px;
}

#board-screen .card{
	border-radius: 4px;
	margin-right:1px;
	display: inline-block;
	width: 40px;
	height:50px; 
	border: 1px Solid #000
}


#board-screen .card.Heart, #board-screen .card.Diamond {
	color: #ff0000;
	position: relative;
}

#board-screen .card .rank-name{
	font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 3px;
}

#board-screen .card .suit-symbol{
	font-size: 27px;
    position: relative;
    top: -10px;
    left: 10px;
}

#board-screen .card .suit-symbol.trump-suit{
	font-size: 40px;
    position: relative;
    left: 7px;
}


#board-screen div.trumpCardContainer.overlay .playing-card {
	cursor: default;
}

div.loggedin-player-card .play-card-button-container {
	text-align: center;
	position: relative;
}

div.loggedin-player-card .play-card-button-container .play-card-button{
	background-color: #ffe203;
    position: absolute;
    top: -32px;
}

@media (max-width: 684px) {
	.hide-trump{
   		display: none !important;
   }
   
   .hide-labels{
   		display: none;
   }
   
   #ju-room-screen .body-row {
   		width: 98%;
   }
   
   #board-screen .header-row div.divGameName{
   		font-size: 1.4em;
   }
   
   .small-font-size{
   		font-size: 12px;
   }
   
   .small-image-height{
   		height: 62px !important;
   }
   
   .no-padding {
   		padding: 2px 4px !important;
   }
   
   .less-padding{
   		padding: 5px 10px 5px 10px !important;
   }
   
   #board-screen div.player-card.loggedin-player-card .playing-card{
   		font-size: 10px;
   }
   
   #board-screen div.player-card.loggedin-player-card .playing-card span.suitSymbolSmall{
   		font-size: 8px;
		top: 14px;
    	
	}
   #board-screen div.player-card.loggedin-player-card .playing-card span.suitSymbolBig{
		font-size: 18px;
		top: 17px;
    	left: 7px;
	}
	
	#board-screen .current-trick-card-container .playing-card span.suitSymbolSmall{
		font-size: 7px;
		top: 15px;
		left: 3px; 
	}
	
	#board-screen .current-trick-card-container .playing-card span.suitSymbolBig{
		font-size: 5px;
		left: 20px; 
		position: absolute;
	}
	#board-screen .current-trick-card-container.col-xs-1 .playing-card span.suitSymbolBig,
	#board-screen .current-trick-card-container.col-xs-2 .playing-card span.suitSymbolBig,
	#board-screen .current-trick-card-container.col-xs-3 .playing-card span.suitSymbolBig,
	#board-screen .current-trick-card-container.col-xs-4 .playing-card span.suitSymbolBig,
	#board-screen .current-trick-card-container.col-xs-10 .playing-card span.suitSymbolBig{
		font-size: 14px;
		left: 10px;
	}
	
	#board-screen div.trumpCardContainer.overlay .playing-card span.suitSymbolBig{
		font-size: 4em;
		text-shadow: 0px 0px 12px #ffe203;
		top: 4px;
		
	}
}

@media (max-width: 480px) {
	#board-screen div.player-card .player-card-footer .player-name {
		display: block;
	}
}

@media (max-width: 320px) {
	#ju-room-screen .body-row .row {
		margin: 0px 0px;
	}
	
	#ju-room-screen .body-row .row div[class^=col-] {
   		width: 100%;
   		margin: 5px 0px 0px 0px;
   }
}


/* -------------- card vertical view -----------*/
/*
@media screen and (max-width: 500px) {

#board-screen div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 180px;
}

#board-screen div[class^=col-] .player-card{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 180px;
}

#board-screen .logged-in-player-row div[class^=col-]{
	padding-left: 0px;
	padding-right: 0px;
	border: 1px Solid #fbfbfb;
	height: 100%;
}

#board-screen div.player-card{
	background-color: rgba(236, 248, 251, 1);
	height: 100%;
	border: 1px Solid #8e8e8e;
	border-radius: 2px;
}

#board-screen div.player-card.current-turn{
	border: 5px Solid #ffa604;
}

#board-screen div.player-card .player-details{
	background-color: rgba(153, 217, 234, 1);
	border-bottom: 1px Solid #8e8e8e;
}

#board-screen div.player-card .player-details .player-pic{
	min-width: 30%;
    width: 40%;
    max-width: 40%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card.loggedin-player-card .player-details .player-pic{
	min-width: 10%;
    width: 20%;
    max-width: 30%;
    height: 65px;
    background-color: #f0f0f0;
}

#board-screen div.player-card .player-details  .player-score-container{
    
}

#board-screen div.player-card .player-details  .player-score-container .total-score-label{
    font-size: 0.8em;
}

#board-screen div.player-card .player-details  .player-score-container .total-score{
    padding-right: 5px;
    font-weight: bold;
    color: rgb(222, 0, 0);
    font-size: 0.9em;
}

#board-screen div.player-card .player-card-footer {
	text-align: center;
	font-weight: bold;
	
}

#board-screen div.player-card .player-card-footer .apply-margin-10{
	margin-left: 10px;
}

#board-screen div.player-card .player-card-footer  .player-cards-container{
    padding-top: 10px;
}

#board-screen div.player-card .player-card-footer .player-cards-container .player-cards{
   	height: 35px;
   	text-align: right;
   	border: 0px Solid #8e8e8e;
   	overflow: hidden;
}

#board-screen div.player-card .player-card-footer .player-cards-container .player-cards .playing-card{
   	width: 20px;
   	height: 35px;
   	border: 1px Solid #8e8e8e;
   	display: inline-block;
   	margin-left: -18px;
   	margin-top: 5px;
   	background-color: rgba(239,228,176,1);
   	border-radius: 2px;
}

#board-screen div.loggedin-player-card.player-card .player-card-footer .player-cards-container .player-cards .playing-card{
	margin-left: 0px;
}

	
}
*/

/* -------------- card vertical end -----------*/

