<div class="player-card loggedin-player-card" {{ turn }} ng-class="{'current-turn': turn === player.id}">
	<div class="play-card-button-container" style="text-align: center">
		<div type="button" style="background-color: #ffe203;" class="btn btn-default btn-sm play-card-button" data-ng-click="playCard(selectedCard)">Play</div>
	</div>
	<div class="player-details">
		<div style="position: absolute">
			<img class="player-pic" src="static/images/Goa-640x360.jpg" />
		</div>
		<div>
			<div class="player-score-container" >
				
				<div class="player-score">
					<span class="total-score-label">Score: </span><span class="total-score">{{ player.points }}</span>
				</div>
			</div>
			
		</div>
		<div>
			<div class="player-cards-container">
				<div class="player-cards" style="">					
					<div class="playing-card" data-ng-class="[card.suitName, {'card-selected': selectedCard === card}]"  
						style="width: 40px; height: 45px;"
						data-ng-repeat="card in player.cards"  data-ng-style="{'left': ((player.cards.length - ($index + 1)) * 22) + 'px'}" 
						data-ng-click="cardClicked(card)" data-ng-dblclick="playCard(card); $event.stopPropagation();">
						<span class="rankName" style=" left: -15px; position: relative">{{ card.rankShortName }}</span>
						<span class="suitSymbolSmall" style="top: 10px;left: -27px; position: relative" ng-bind-html="cardSymbol[card.suitName]"></span>
						<span class="suitSymbolBig" style="top: -9px;left: -15px; position: relative;" ng-bind-html="cardSymbol[card.suitName]"></span>
					</div> 
					
					
					<div class="block-play" data-ng-if="!round.inProgress || turn !== player.id"></div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="player-card-footer">
		<span class="player-name">You ({{ player.name }})</span>
		<span class="apply-margin-10 player-tricks-won">{{ player.tricksWon }}</span>/
		<span class="player-tricks-bidded">{{ player.tricksBidded }}</span>
	</div>
</div>