<!doctype html>
<html>
	<head>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
		  (adsbygoogle = window.adsbygoogle || []).push({
		    google_ad_client: "ca-pub-6147281804250931",
		    enable_page_level_ads: true
		  });
		</script>
		<title>AngularJS Application</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<!-- application css -->
		<link rel="stylesheet" href="static/styles/app.css" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="/socket.io/socket.io.js"></script>
		
		<script>
			window.onbeforeunload = function () {
		        return "Refreshing page, SURE?";
			}
			window.room = {
				name: '{{ room.name }}',
				total: +'{{ room.total }}'
			}
			
			console.log(room);
		</script>

	</head>
	<body class="small-font-size">
		<div class="container-fluid app-container" ng-controller="ctrlShell">
			<div class="row">
				<div class="col-md-12">
					<div class="" ng-view></div>	
				</div>
			</div>
		</div>
		<script data-main="static\scripts\main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.js"></script>
	</body>
</html>