<div id="ju-home-screen" class="ju-home-screen">
	<header class="row header-row">
		<div class="col-xs-12">
			<h1>Judgement</h1>
		</div>
	</header>
	<div class="row" >
		<div class="col-md-12" >
			<h2>Welcome: {{ home.username }}</h2>
			<h3>Go to Room</h3>
			
			<span data-ng-hide="!home.isAdmin">Total Players:</span><select ng-model="home.totalPlayers" data-ng-hide="!home.isAdmin">
				<option ng-repeat="count in [4, 5, 6, 7]">{{ count }}</option>
			</select>
		    Room Name: <input type="text" class="form-control" 
		    	id="inputName" placeholder="Room Name"
		    	data-ng-model="home.roomName" data-ng-hide="!home.isAdmin">
			<button type="button" class="btn" data-ng-click="home.createRoom(home.isAdmin, home.username, home.roomName, home.totalPlayers)" ng-hide="!home.isAdmin">Create</button>
			
			<select ng-model="home.selectedRoom" ng-options="room.name for room in home.rooms">
				
			</select>
		  	<button type="submit" class="btn btn-primary" ng-click="home.joinRoom(home.isAdmin, home.username, home.selectedRoom.name)" >Join</button>
			  
			<button ng-click="home.GameManager.ping(home.username)">Ping</button>
			<a href="/logout">Logout</a>
		</div>
	</div>
</div>

