<div id="board-screen" class="board-screen">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><player-score-card></player-score-card></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><player-score-card></player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"><player-score-card></player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><player-score-card></player-score-card></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"><player-score-card></player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><player-score-card></player-score-card></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row logged-in-player-row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-6"><logged-in-player-score-card></logged-in-player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
</div>

