<div id="board-screen" class="board-screen">
	<div class="row header-row">
		<div class="col-xs-4 col-sm-4 divRoomDetails">
			<span class="roomNameLabel">Room: </span>
			<span class="roomName">{{ board.GameManager.roomName }}</span>
			<div class="trumpCardContainer" data-ng-show="board.round">
				<span class="trumpSuitLabel">Round: </span>
				<span class="totalTricksValue"  data-ng-bind="board.round.totalTricks" >1</span>
				<div class="playing-card" ng-class="board.round.trumpSuit" >
					<span class="suitSymbolBig" data-ng-bind-html="board.cardSymbol[board.round.trumpSuit]"></span>
				</div>
			</div>
			
		</div>
		<div class="col-xs-4 col-sm-4 divGameName"><span class="gameName">JUDGEMENT</span></div>
		<div class="col-xs-4 col-sm-4 divControlButtons"><button ng-show="board.GameManager.canStartGame" ng-click="board.GameManager.startTheGame()">Start Game</button><button ng-click="board.leaveRoom()">Leave Room</button></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"><player-score-card player="board.players[2]" round="board.round" turn="board.currentPlayer" index="3"></player-score-card></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"><player-score-card player="board.players[1]" round="board.round" turn="board.currentPlayer" index="2"></player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2">
			<div class="bidContainer" ng-show="!board.round.inProgress && board.currentPlayer === board.players[0].id">
				<div class="bidHeader">Bid your tricks</div>
				<span class="badge bids" data-ng-init="board._bid = -1"
					data-ng-click="board._bid = i"
					data-ng-class="{'bid-not-valid': i > board.round.totalTricks, 'bid-selected': board._bid === i}" 
					data-ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">{{ i }}</span>
				<div class="bidButtonContainer">
					<div type="button" class="btn btn-default btn-sm bidButton" data-ng-click="board.setMyBid(board._bid)">BID</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"><player-score-card player="board.players[3]" round="board.round" turn="board.currentPlayer" index="6"></player-score-card></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2">{{ board.message }}</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row logged-in-player-row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-6"><logged-in-player-score-card player="board.players[0]" round="board.round" turn="board.currentPlayer" ></logged-in-player-score-card></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-2"></div>
		<div class="col-sm-1"></div>
		<div class="col-sm-2"></div>
	</div>
</div>

