<div id="ju-room-screen" class="ju-room-screen">
	<header class="row header-row">
		<div class="col-xs-12">
			<h1>Judgement</h1>
		</div>
	</header>
	<div class="row" >
		<div class="col-xs-12 col-md-12"><h2>Welcome: {{ home.username }}</h2></div>
		<div class="col-xs-12 col-md-12 body-row" >
			
			<h4>Create Room</h4>
			
			<div class="row" >
				<div class="col-xs-12 col-sm-2 col-md-2"><span>Total Players:</span></div>
				<div class="col-xs-12 col-sm-10 col-md-10">
					<select class="form-control" ng-model="home.totalPlayers" >
					<option ng-repeat="count in [4, 5, 6, 7]">{{ count }}</option>
					</select>
				</div>
			</div>
			
			<div class="row" >
				<div class="col-xs-12 col-sm-2 col-md-2"><span>Room Name:</span></div>
				<div class="col-xs-9 col-sm-6 col-md-6">
					<input type="text" class="form-control" 
				    	id="inputName" placeholder="Room Name"
				    	data-ng-model="home.roomName">
					
				</div>
				<div class="col-xs-3 col-sm-4 col-md-4">
					<button type="button" class="btn btn-primary" data-ng-click="home.createRoom(home.isAdmin, home.username, home.roomName, home.totalPlayers)" >Create</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 body-row" >
			<h4>Enter Room</h4>
			<div class="row" >
				<div class="col-xs-12 col-sm-2 col-md-2"><span>Room:</span></div>
				<div class="col-xs-9 col-sm-6 col-md-6">
					<select class="form-control" ng-model="home.selectedRoom" ng-options="room.name for room in home.rooms"></select>
				</div>
				<div class="col-xs-3 col-sm-4 col-md-4"><button type="submit" class="btn btn-primary" ng-click="home.joinRoom(home.isAdmin, home.username, home.selectedRoom.name)" >Join</button></div>
			</div>
			<div class="row" >
				<div class="col-xs-12 col-sm-12 col-md-12"><a href="/logout">Logout</a></div>
			</div>
					
		</div>
	</div>
</div>

