<div id="ju-home-screen" class="ju-home-screen">
	<header class="row header-row">
		<div class="col-xs-12">
			<h1>Judgement</h1>
		</div>
	</header>
	<div class="row" >
		<div class="col-md-12 body-row" >
			<h2>Welcome: {{ home.username }}</h2>
			<h3>Enter Room</h3>
			
			<div class="row" >
				<div class="col-sm-1"><span data-ng-hide="!home.isAdmin">Total Players:</span></div>
				<div class="col-sm-10">
					<select class="form-control" ng-model="home.totalPlayers" data-ng-hide="!home.isAdmin">
					<option ng-repeat="count in [4, 5, 6, 7]">{{ count }}</option>
					</select>
				</div>
			</div>
			
			<div class="row" >
				<div class="col-sm-2"><span data-ng-hide="!home.isAdmin">Room Name:</span></div>
				<div class="col-sm-6">
					<input type="text" class="form-control" 
				    	id="inputName" placeholder="Room Name"
				    	data-ng-model="home.roomName" data-ng-hide="!home.isAdmin">
					
				</div>
				<div class="col-xs-4">
					<button type="button" class="btn" data-ng-click="home.createRoom(home.isAdmin, home.username, home.roomName, home.totalPlayers)" ng-hide="!home.isAdmin">Create</button>
				</div>
			</div>
			<br/>
			<div class="row" >
				<div class="col-xs-2"><span>Room:</span></div>
				<div class="col-xs-6">
					<select class="form-control" ng-model="home.selectedRoom" ng-options="room.name for room in home.rooms"></select>
				</div>
				<div class="col-xs-2"><button type="submit" class="btn btn-primary" ng-click="home.joinRoom(home.isAdmin, home.username, home.selectedRoom.name)" >Join</button></div>
			</div>
			<div class="row" >
				<div class="col-xs-12"><a href="/logout">Logout</a></div>
			</div>
					
		</div>
	</div>
</div>

