<div id="ju-home-screen" class="ju-home-screen">
	<header class="row header-row">
		<div class="col-xs-12">
			<h1>Judgement</h1>
		</div>
	</header>
	<div class="row" >
		<div class="col-md-12" >
			<h3>Player Sign Up</h3>
			<form>
			  <fieldset class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
			  </fieldset>
			  <fieldset class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
			  </fieldset>
			  <button type="button" class="btn">Reset</button>
			  <button type="submit" class="btn btn-primary" data-ng-click="register()">Submit</button>
			  <a href="#/ju_home_entry">Sign In</a>
			</form>
		</div>
		
	</div>
</div>

